databases:
  - name: sales_calendar_db
    databaseName: sales_calendar
    plan: free
    ipAllowList: []

services:
  - type: web
    name: sales-calendar
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn wsgi:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0
      - key: RENDER
        value: true
      - key: SECRET_KEY
        generateValue: true
    autoDeploy: true
    plan: free
    dependencies:
      - name: sales_calendar_db
